<h1>
    <%= @article.title %>
    <span style="display: block; color : blue;">
    <%= @article.body %>
    </span>
</h1>

<ul>
    <li> <%= link_to "Edit", edit_article_path(@article)%> </li>
    <li> <%= link_to "Destroy", article_path(@article), data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
            } %> </li>
</ul>